<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <span class="text-center" id="categoryText">Categories</span>
                    <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-controller"></i> <span>Action</span></a>
                    <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-controller"></i> <span>RPG</span></a>
                    <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-controller"></i> <span>Shooter</span></a>
                    <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-controller"></i> <span>Sports</span></a>
                </div>
            </div>
        </div>
        <div class="col ps-md-2 pt-2">
            
            <div class="page-header pt-3">
                <h2>Gamestore Site - Reseller for Innovative Gaming</h2>
            </div>
            <p class="lead">Test template of site pitch.</p>
            <hr>
            <div class="row">
                <div class="col-12">
                    <p>Where Items will be displayed on page.</p>
                </div>
            </div>
        </div>
    </div>
</div>