<div class="row flex-nowrap">
  <div class="col-12 ps-md-2 pt-2">

    <div class="page-header pt-3 text-center">
      <h2>Welcome, name!</h2>
    </div>
    <hr />

  <div class="col-12 ms-3">

    <h2 class="mt-5">My Wishlist</h2>
    <table class="table align-middle mt-3 mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Purchase</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <img
                src="https://m.media-amazon.com/images/M/MV5BYjEzMTM4ZmQtZTEzYS00ZGVmLTkwM2EtNWNmMDI4OWQ0MjBmXkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_.jpg"
                alt=""
                style="width: 95px; height: 95px"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Product Name</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">$34.99</p>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-danger">Purchase</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  </div>

</div>